.nav {

	text-decoration: none;
	color: #fcc98f;
	font-family: fantasy; 
	font-size: 30px;
	align-content: center;

	
}

.nav:hover {
	color: #fc7a2f;
}

#logo {
text-align: center;
margin-top: 0px;

}

body {
	font-size: 20px;
	background-image: url(imagenes/fondo3.jpg);
	background-color: #fbb566;
	
	}
	

footer {


	background-color: #fbb566;
	margin-top: 10px;
	padding-top: 10px;
	opacity: 60%;
	text-align: center;
	font-size: 22px;
	
}

#footer {
text-align: center;
margin-top: 10px;
font-family: 'Bebas Neue', cursive;
}

#parrafo {

	font-size: 40px;
	text-align: center;
	font-family: 'Londrina Solid', cursive;
	margin-bottom: 9px;
	color:rgb(226, 153, 43);

}

.carousel {
	margin-top: 5px;
	border: solid rgb(255, 132, 0);
}