.card-text {
    font-size: 18px;
}
.list-group-item {
    font-size: 18px;
}

.card-title{

    text-shadow: 1px 1px 1px black;
    font-size: 25px;
}

.card-body {
    background-color: #fcc98f;
   
}

.bmas {

    text-decoration: none;
    background-color: rgb(230, 165, 15);
    color: rgb(135, 9, 9);
    width: 150px;
    height: 33px;
  
}


.nav {

	text-decoration: none;
	color: #fcc98f;
	font-family: fantasy; 
	font-size: 30px;
	align-content: center;

	
}

.nav:hover {
	color: #fc7a2f;
}

#logo {
text-align: center;
margin-top: 0px;

}

body {
	font-size: 20px;
	background-image: url(imagenes/fondo3.jpg);
	background-color: #fbb566;
	
	}
	

footer {


	background-color: #fbb566;
	margin-top: 10px;
	padding-top: 10px;
	opacity: 60%;
	text-align: center;
	font-size: 22px;
	
}

#footer {
text-align: center;
margin-top: 10px;
font-family: 'Bebas Neue', cursive;
}